In [1]:
import pandas as pd
import numpy as np

In [2]:
df_predictions_raw = pd.read_csv("./predictions.csv")
df_predictions_raw.columns = ["date","speed"]
# convert date into pandas datetime object 2018-12-31 22:00:00
df_predictions_datetime = pd.to_datetime(df_predictions_raw["date"], dayfirst=True, format="%Y-%m-%d %H:%M")

# construct a new dataframe to do analysis
df_predictions_data = df_predictions_raw.copy()
df_predictions_data["date"] = df_predictions_datetime
df_predictions_data = df_predictions_data.set_index("date")
df_predictions_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
speed,8759.0,33.018913,11.102153,-0.054057,23.074589,34.451989,42.897253,56.071654

In [3]:
df_predictions_data

                         speed
date
2018-01-01 01:00:00  38.346114
2018-01-01 02:00:00  44.200359
2018-01-01 03:00:00  38.734847
2018-01-01 04:00:00  47.467758
2018-01-01 05:00:00  42.359338
...                        ...
2018-12-31 19:00:00  20.685534
2018-12-31 20:00:00  24.218495
2018-12-31 21:00:00  42.563573
2018-12-31 22:00:00  41.154740
2018-12-31 23:00:00  41.363326

[8759 rows x 1 columns]

In [4]:
df_test_raw = pd.read_csv("./test.csv", index_col="id")
df_test_raw["speed"] = np.nan
# df_test_raw.columns = ["date"]
# convert date into pandas datetime object 2018-12-31 22:00:00
df_test_datetime = pd.to_datetime(df_test_raw["date"], dayfirst=True, format="%d/%m/%Y %H:%M")

# construct a new dataframe to do analysis
df_test_data = df_test_raw.copy()
df_test_data["date"] = df_test_datetime
df_test_data = df_test_data.set_index("date")
df_test_data.describe().transpose()

       count  mean  std  min  25%  50%  75%  max
speed    0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [5]:
df_test_data

                     speed
date
2018-01-01 02:00:00    NaN
2018-01-01 05:00:00    NaN
2018-01-01 07:00:00    NaN
2018-01-01 08:00:00    NaN
2018-01-01 10:00:00    NaN
...                    ...
2018-12-31 17:00:00    NaN
2018-12-31 19:00:00    NaN
2018-12-31 21:00:00    NaN
2018-12-31 22:00:00    NaN
2018-12-31 23:00:00    NaN

[3504 rows x 1 columns]

In [17]:
# df_test_data, df_predictions_data
df_submit = pd.merge(df_predictions_data, df_test_data, how='inner', on="speed", left_index=True, right_index=True)

In [19]:
df_submit.to_csv('test_submit.csv',index=True)